strong Available Commands:
| #{ '\n' }
each cmd in cmds
  span.text--command #{ cmd.usage || cmd.name }
  |  → #{ cmd.description }
  if (cmd.aliases && cmd.aliases.length)
    - var label = 'Alias' + (cmd.aliases.length > 1 ? 'es' : '')
    span.text--secondary  (#{ label }: #{ cmd.aliases.join(', ') })
  | #{ '\n' }
